.col,.col-6,.col-4,.col-3{
    height: 30px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
}
.row-vert-test{
    height: 150px;
    border: 2px solid deeppink;
    background-color: lightpink;
    border-radius:5px ;
}
